@import url("https://fonts.googleapis.com/css?family=Spectral&display=swap");
@font-face {
  font-family: 'GabrielaStencil';
  src: url(../font/GabrielaStencilUltraLight.otf); }
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

h1, h2, h3, h4 {
  font-family: 'GabrielaStencil';
  letter-spacing: 1px;
  color: #bfa45a; }

p, li {
  font-family: 'Spectral', serif;
  letter-spacing: 1px;
  color: #f0dba1; }

.navPhotoAppear {
  animation-name: navPhotoRotateOn;
  animation-duration: 0.5s; }

@keyframes navPhotoRotateOn {
  from {
    transform: rotate(-35deg);
    opacity: 0; }
  to {
    transform: rotate(0deg);
    opacity: 1; } }
.navPhotoDisappear {
  animation-name: navPhotoRotateOff;
  animation-duration: 1s; }

@keyframes navPhotoRotateOff {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.aboutPhotoAppear {
  animation-name: aboutPhotoAppear;
  animation-duration: 1s; }

@keyframes aboutPhotoAppear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.aboutPhotoDisappear {
  animation-name: aboutPhotoDisappear;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes aboutPhotoDisappear {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
body {
  background-color: #292721; }
  body #logo {
    position: absolute;
    top: 40px;
    right: 60px;
    text-shadow: 0 0 10px #E7B674, 0 0 20px #E7B674, 0 0 30px #E7B674, 0 0 40px #e60073; }
    body #logo a {
      color: #f0dba1;
      letter-spacing: 2px; }

#white {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 130px;
  background-color: #292721; }
  #white #slika {
    width: 600px;
    min-height: 350px;
    background-image: url("../img/bgRestaurant.jpg");
    background-size: cover;
    position: relative;
    margin-top: 150px; }
    #white #slika #lineConnect {
      width: 250px;
      height: 384px;
      flex-direction: column;
      position: absolute;
      top: -192px;
      left: 30%; }
      #white #slika #lineConnect .header {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        #white #slika #lineConnect .header h1 {
          font-size: 70px;
          color: #bfa45a; }
      #white #slika #lineConnect #headerBottom {
        background-color: rgba(0, 0, 0, 0.6); }
        #white #slika #lineConnect #headerBottom h2 {
          text-align: center;
          color: #f0dba1; }
        #white #slika #lineConnect #headerBottom div {
          display: flex;
          justify-content: center;
          align-items: center; }
          #white #slika #lineConnect #headerBottom div i {
            color: #bfa45a; }
      #white #slika #lineConnect .line {
        height: 2px;
        position: absolute;
        background-color: white; }
      #white #slika #lineConnect #firstLine {
        width: 248px;
        position: absolute;
        top: -1px;
        left: 0px;
        background-color: transparent;
        animation: line 2s forwards;
        animation-delay: 1s; }
      #white #slika #lineConnect #secondLine {
        width: 384px;
        top: 190px;
        right: -192px;
        transform: rotate(90deg); }
      #white #slika #lineConnect #thirdLine {
        width: 251px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        background-color: transparent;
        animation: line 2s forwards;
        animation-delay: 1s; }
      #white #slika #lineConnect #fourthLine {
        width: 384px;
        top: 190px;
        left: -192px;
        transform: rotate(90deg); }
@keyframes line {
  from {
    width: 0%;
    background-color: transparent; }
  to {
    width: 100%;
    background-color: white; } }
  #white #arrowDown {
    position: absolute;
    left: 49%;
    bottom: 20px;
    font-size: 25px;
    color: #E7B674;
    animation: upDown 1.7s infinite;
    text-shadow: 0 0 10px #E7B674, 0 0 20px #E7B674, 0 0 30px #E7B674, 0 0 40px #e60073, 0 0 50px #E7B674, 0 0 60px #E7B674; }
    #white #arrowDown:hover {
      cursor: pointer; }
@keyframes upDown {
  0% {
    transform: translate(0); }
  50% {
    transform: translate(0, 8px); }
  100% {
    transform: translate(0); } }
  #white #navIcon {
    width: 27px;
    height: 10px;
    position: absolute;
    left: 60px;
    top: 48px;
    z-index: 1000; }
    #white #navIcon:hover {
      cursor: pointer; }
    #white #navIcon span {
      display: block;
      width: 27px;
      height: 2px;
      background-color: #bfa45a; }
      #white #navIcon span:first-child {
        margin-bottom: 4px; }
      #white #navIcon span:nth-child(2) {
        width: 15px; }
  #white #about {
    width: 90%;
    margin-top: 100px; }
    #white #about h2 {
      font-size: 30px;
      margin-bottom: 10px; }
    #white #about .aboutRow {
      width: 100%;
      min-height: 400px;
      display: flex;
      justify-content: space-around;
      margin-top: 60px; }
    #white #about #aboutRow1 {
      display: flex; }
      #white #about #aboutRow1 div {
        width: 30%; }
      #white #about #aboutRow1 p::first-letter {
        font-size: 30px; }
      #white #about #aboutRow1 div:nth-child(2) {
        margin: 0px 15px;
        max-height: 500px; }
      #white #about #aboutRow1 #aboutPhoto1 {
        height: 400px;
        background-image: url("../img/gallery1.jpg");
        background-position: center; }
      #white #about #aboutRow1 #aboutPhoto2 {
        height: 400px;
        background-image: url("../img/gallery2.jpg");
        background-position: center; }
      #white #about #aboutRow1 div:nth-child(4) {
        display: none;
        order: 4;
        width: 80%;
        margin: 30px 15px;
        text-align: center; }
    #white #about #aboutRow2 {
      align-items: center;
      flex-wrap: wrap; }
      #white #about #aboutRow2 div {
        width: 30%; }
      #white #about #aboutRow2 a {
        color: #bfa45a;
        font-size: 0.8em; }
      #white #about #aboutRow2 a:hover {
        cursor: pointer;
        color: #E7B674; }
      #white #about #aboutRow2 #aboutSide1, #white #about #aboutRow2 #aboutSide2 {
        display: flex;
        justify-content: center;
        align-items: center; }
      #white #about #aboutRow2 #aboutPhoto3 {
        width: 291px;
        height: 400px;
        background-image: url("../img/gallery3.jpg"); }
        #white #about #aboutRow2 #aboutPhoto3 img {
          display: none;
          width: 100%;
          height: inherit; }
  #white #slider {
    width: 80%;
    margin-top: 50px; }
    #white #slider h2 {
      margin-bottom: 30px;
      margin-left: 60px;
      position: relative; }
      #white #slider h2::before {
        content: '';
        width: 45px;
        height: 3px;
        position: absolute;
        top: 12px;
        left: -55px;
        background-color: white; }
    #white #slider #slideChange {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 50px; }
      #white #slider #slideChange img {
        width: 250px;
        height: 250px;
        margin-top: 40px; }
      #white #slider #slideChange h3, #white #slider #slideChange p {
        display: none;
        padding: 7px; }
      #white #slider #slideChange .activeHeader {
        display: block; }
      #white #slider #slideChange p {
        width: 210px; }
      #white #slider #slideChange span:hover {
        cursor: pointer; }
      #white #slider #slideChange #dotsHolder {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center; }
        #white #slider #slideChange #dotsHolder .dots {
          width: 10px;
          height: 10px;
          margin: 5px;
          border-radius: 50%;
          border: 2px solid white;
          background-color: #A86B28; }
        #white #slider #slideChange #dotsHolder .active {
          border-color: #E7B674;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center; }
          #white #slider #slideChange #dotsHolder .active span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: white; }
  #white #footer {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 35px; }
    #white #footer #mainList {
      display: flex;
      justify-content: space-around;
      border-top: 2px solid white;
      border-bottom: 2px solid white; }
      #white #footer #mainList li ul {
        display: flex;
        justify-content: center; }
      #white #footer #mainList li:nth-child(3) ul {
        flex-direction: column; }
        #white #footer #mainList li:nth-child(3) ul li a {
          float: left;
          margin: 5px; }
      #white #footer #mainList li ul a {
        display: flex;
        justify-content: center;
        margin: 10px;
        font-size: 17px; }
    #white #footer #mainList > li {
      margin: 10px;
      padding-top: 20px;
      padding-bottom: 20px; }
    #white #footer a {
      color: #f0dba1; }

/******NAVIGACIJA******/
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10%;
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-color: #292721; }
  #nav #imageBg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0px; }
    #nav #imageBg img {
      display: none;
      width: 250px;
      height: 400px;
      z-index: 1; }
  #nav ul {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000; }
    #nav ul li {
      padding: 15px; }
      #nav ul li a {
        font-size: 30px;
        color: #bfa45a; }

/***********KONTAKT************/
#contactBorder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #contactBorder span {
    display: block;
    width: 20%;
    height: 2px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px; }
  #contactBorder h2 {
    padding: 5px;
    font-size: 60px;
    text-align: center; }

#contactForm {
  width: 70%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent; }
  #contactForm input, #contactForm select, #contactForm textarea {
    width: 180px;
    margin: 10px;
    padding: 9px;
    border: none;
    border-bottom: 2px solid #E7B674;
    outline: none;
    background-color: transparent;
    color: #f5eedc;
    font-family: 'GabrielaStencil';
    line-height: 10px;
    letter-spacing: 1px; }
    #contactForm input::placeholder, #contactForm select::placeholder, #contactForm textarea::placeholder {
      color: #f5eedc; }
  #contactForm option {
    border: none;
    outline: none;
    color: #A86B28; }
  #contactForm textarea {
    resize: none; }
  #contactForm div {
    padding: 10px;
    display: flex; }
  #contactForm #buttonSubmit {
    width: 70px;
    margin-top: 35px;
    color: #f0dba1;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center; }
    #contactForm #buttonSubmit:hover {
      cursor: pointer;
      color: white;
      transition: color 0.4s; }

/***********RESTORAN************/
#restaurantHeader h1 {
  font-size: 60px; }
  #restaurantHeader h1 span {
    letter-spacing: 30px; }

#bgRestaurant {
  width: inherit;
  height: 50vh;
  margin-top: 60px;
  background-image: url("../img/bgRestaurant.jpg");
  background-position: center;
  background-attachment: fixed; }

#restaurantDescription {
  width: 80%;
  margin-top: 80px; }
  #restaurantDescription h2 {
    margin: 20px; }
  #restaurantDescription p::first-letter {
    font-size: 30px; }

#restaurantSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 80px;
  margin-bottom: 70px; }
  #restaurantSlider h2 {
    margin: 10px; }
  #restaurantSlider div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center; }
    #restaurantSlider div:nth-child(2) i {
      margin: 20px;
      font-size: 20px;
      color: white; }

/***********MENI************/
#menuBlock {
  width: 90%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }
  #menuBlock h1 {
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
    font-size: 80px; }
  #menuBlock .menuRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    #menuBlock .menuRow h2 {
      width: 100%;
      text-align: center; }
    #menuBlock .menuRow .scroll-to {
      opacity: 0.1; }
    #menuBlock .menuRow #menuDescription {
      width: 100%;
      text-align: center;
      margin: 20px 20px 50px 20px;
      display: flex;
      justify-content: center;
      align-items: center; }
      #menuBlock .menuRow #menuDescription span {
        display: block;
        width: 45px;
        height: 2px;
        background-color: white;
        margin-left: 20px;
        margin-right: 20px; }
    #menuBlock .menuRow #foodDescription {
      font-size: 11px;
      color: #E7B674; }
    #menuBlock .menuRow div {
      width: 49%;
      height: 250px;
      text-align: center; }
      #menuBlock .menuRow div h3 {
        margin: 15px; }

#menuBorder {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-top: 2px solid #f0dba1;
  border-bottom: 2px solid #f0dba1; }
  #menuBorder span {
    display: block;
    width: 20%;
    height: 2px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px; }
  #menuBorder h2 {
    padding: 5px;
    font-size: 60px;
    text-align: center; }

#sliderGallery {
  width: 90%;
  margin-top: 100px;
  margin-bottom: 100px; }
  #sliderGallery img {
    margin: 5px; }

.slick-slide.slick-current.slick-center.slick-active {
  opacity: 1; }

.slick-prev.slick-arrow {
  color: black; }

/**********AUTOR************/
#author {
  width: 90%;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #author #authorDescription {
    width: 50%;
    margin: 40px; }
  #author a {
    color: #A86B28; }

/************************MEDIA**************************/
@media only screen and (max-width: 840px) {
  body #white #aboutRow1 {
    flex-wrap: wrap; }
    body #white #aboutRow1 div:nth-child(2) {
      order: 1;
      width: 80% !important;
      margin: 30px 15px !important; }
    body #white #aboutRow1 #aboutPhoto1 {
      order: 2; }
    body #white #aboutRow1 #aboutPhoto2 {
      order: 3; }
    body #white #aboutRow1 div:nth-child(4) {
      display: block !important; }

  body #white #about #aboutRow2 #aboutSide1 {
    width: 40%;
    order: 1; }

  body #white #about #aboutRow2 #aboutSide2 {
    width: 40%;
    order: 2; }

  body #white #about #aboutRow2 #aboutPhoto3 {
    order: 3;
    margin-top: 40px;
    margin-bottom: 30px; } }
@media only screen and (max-width: 761px) {
  body #nav #imageBg img {
    left: 15em; }

  /*author*/
  #author {
    width: 90%;
    flex-direction: column; }
    #author img {
      width: 90%; }
    #author #authorDescription {
      width: 80%;
      margin: 40px; }

  body #aboutRow1 #aboutPhoto1, body #aboutRow1 #aboutPhoto2 {
    width: 230px !important; } }
@media only screen and (max-width: 710px) {
  body #nav #imageBg img {
    display: none !important; }

  body #white #about h2 {
    font-size: 25px; }

  body #bgRestaurant {
    height: 50vh; }

  body #white #slika {
    width: 500px; }

  body #white #slika #lineConnect {
    left: 25%; }

  body #white #about #aboutRow2 #aboutSide1, body #white #about #aboutRow2 #aboutSide2 {
    width: 49%; }

  body #white #about #aboutRow2 #aboutSide1 {
    order: 1; }

  body #white #about #aboutRow2 #aboutSide2 {
    order: 2; }

  body #white #about #aboutRow2 #aboutPhoto3 {
    order: 3; }

  body #restaurantSlider {
    flex-direction: column; }
    body #restaurantSlider #team {
      order: 2;
      margin-top: 40px; } }
@media only screen and (max-width: 650px) {
  body #white #footer #mainList {
    flex-direction: column; }

  body #white #footer #mainList li {
    margin-bottom: 0px;
    padding-bottom: 0px; }

  body #white #footer #mainList li:nth-child(3) {
    margin-bottom: 10px;
    padding-bottom: 20px; }

  body #white #footer #mainList li ul {
    justify-content: flex-start; }

  body #menuBlock .scroll-to {
    width: 100%; } }
@media screen and (max-width: 591px) {
  #white #slider #slideChange .activeHeader {
    text-align: center; } }
@media screen and (max-width: 550px) {
  body #white #slika {
    width: 320px; }

  body #white #slika #lineConnect {
    left: 11%; }

  body #aboutRow1 {
    flex-wrap: wrap; }

  body #aboutRow1 #aboutPhoto1, body #aboutRow1 #aboutPhoto2 {
    height: 380px !important;
    width: 68% !important;
    margin: 15px 0px; }

  body #restaurantHeader h1 {
    font-size: 45px; }

  body #contactBorder h2 {
    font-size: 40px; }

  body #contactForm input, body #contactForm select, body #contactForm textarea {
    width: 120px; }

  /*restaurant*/
  body #contactForm #buttonSubmit i {
    font-size: 40px; }

  body #bgRestaurant {
    height: 30vh; } }

/*# sourceMappingURL=style.css.map */
